
.img{
    height: 500px;
    width: 400px;
    margin : 0 auto;
}
body{
    text-align: center;
}
.btn1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border-color:aqua;
}
.btn2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:black;
    border-color:aqua;
}
.btn3{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(138, 137, 137);
    border-color:aqua;
}